language: c
sudo: required
install: wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-opam.sh
script: bash -ex .travis-opam.sh
env:
  - OCAML_VERSION=4.02 PACKAGE=syslog-message TESTS=true
  - OCAML_VERSION=4.03 PACKAGE=syslog-message TESTS=true
  - OCAML_VERSION=4.04 PACKAGE=syslog-message TESTS=true
  - OCAML_VERSION=4.05 PACKAGE=syslog-message TESTS=true
  - OCAML_VERSION=4.06 PACKAGE=syslog-message TESTS=true
